name: Build And Upload
on:
  push:
    tags:
      - "*"
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            test-type: integration
          - os: macos-latest
            test-type: unit
          - os: windows-latest
            test-type: unit
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        if: matrix.os != 'windows-latest'
      
      - name: Run unit tests
        if: matrix.test-type == 'unit'
        run: ./gradlew test --tests "io.github.intisy.docker.ModelTest" --tests "io.github.intisy.docker.DockerClientBuilderTest" --info
        shell: bash
      
      - name: Run tests (Linux - excluding daemon startup tests)
        if: matrix.test-type == 'integration'
        run: ./gradlew test --tests "io.github.intisy.docker.ModelTest" --tests "io.github.intisy.docker.DockerClientBuilderTest" --tests "io.github.intisy.docker.WslDiagnosticTest" --info
        shell: bash

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Setup Git
        run: echo ${{ secrets.PAT }} | gh auth login --with-token
        
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run build with Gradle Wrapper (skip tests - already run in test job)
        run: ./gradlew build -x test -Partifact_version=${{ github.ref_name }}

      - name: Create Release and Upload Jar
        run: |
          gh release create ${{ github.ref_name }} -t "Release ${{ github.ref_name }}"
          gh release upload "${{ github.ref_name }}" build/libs/* --clobber